body{
    background-color: forestgreen;
    color: dimgray;
}
.like-mike {
    display: flex;
    justify-content: center;
}

.img-me{
    display: flex;
    justify-content: center;
}
title{
    color:forestgreen

}
p{
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    background-color: dimgray;
    border: 4px dashed orangered;
    color: whitesmoke;
    display: inline;
    width : 30%;
    text-align :center;
    width: 
}

.basic-info{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

h1{
    border-radius: 12px;
    background-color: dimgray;
    border: 4px dashed orangered;
    color: peachpuff;
    display: inline;
    text-align: center;
}
.i-enjoy {
    display: flex;
    flex-direction: column;

}
li{
    border-radius: 12px;
    background-color: salmon;
    border: 10px dimgray;
    display: inline;
    text-align: center;
    margin: 35px;
    padding: 16px;
}
.activities {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.fblink{
    display: flex;
    justify-content: flex-end;
}
button{
    background-color: goldenrod;
    border:red;
}

.grid{
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
    justify-items: center;
    column-gap: 20px;
    row-gap:30px;
}
.grid img{
    width: 100%;
}